{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ========================= SECTION MAIN ========================= -->
  <section class="section-intro padding-y-sm">
    <div class="container">
      <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/2.jpg' %}" class="img-fluid rounded custom-banner" alt="Intro Banner Image">
      </div>
    </div>
    <!-- container // -->
  </section>
  <!-- ========================= SECTION MAIN END// ========================= -->

  <!-- ========================= SECTION POPULAR PRODUCTS ========================= -->
  <section class="section-name padding-y-sm">
    <div class="container">
      <header class="section-heading d-flex justify-content-between align-items-center">
        <h2 class="section-title mb-4">Explore Popular Products</h2>
        <a href="{% url 'store' %}" class="btn btn-outline-primary btn-sm">See All</a>
      </header>
  
      <div class="row">
        {% for product in products %}
          <div class="col-md-4">
            <div class="card card-product-grid border-0">
              <a href="{{ product.get_url }}" class="img-wrap">
                <img src="{{ product.images.url }}" class="img-fluid product-image" alt="{{ product.product_name }}" />
              </a>
              <div class="card-body">
                <h5 class="card-title product-name">
                  <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                </h5>
                <p class="card-text price">
                  <i class="fas fa-dollar-sign"></i> {{ product.price }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>  
{% endblock %}

